:root {
  --header-bg-colour: #222;
  --main-bg-colour: #333;
  --button-bg-hover: rgb(85, 85, 85);
  --button-bg-hover: rgb(253, 78, 47);
  --button-bg-active: rgb(253, 78, 47);
  --button-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.App {
  height: 100vh;

  .content {
    padding: 1.5rem;
  }
}

button {
  color: white;
  font-weight: bold;
  box-shadow: var(--button-shadow);
  font-family: "Local Poppins";
}

select {
  border: none;
  padding: 0.5rem 0;
  border-radius: 4px;
  box-shadow: var(--button-shadow);
}

header {
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-colour);
  justify-content: center;
  height: 125px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .logo {
    h1 {
      text-align: center;
    }
  }

  nav {
    margin-top: 0.5rem;

    ul {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      li {
        a {
          color: white;
          text-decoration: none;
          border-radius: 7px;
          padding: 0.5rem 0.5rem;
          transition: all 0.3s ease-in-out 0s;
          font-weight: bold;
          &:hover {
            background-color: var(--button-bg-hover);
          }
        }
      }
    }
  }
}

.stone-engraving-form-wrapper form {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
    margin-top: 1rem;
  }

  button {
    margin-top: 1.25rem;
    background-color: var(--button-bg-active);
    border: none;
    padding: 1rem;
    border-radius: 7px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;

    &:hover {
      background-color: rgb(255, 89, 60);
    }
  }
}

.stone-engraving-results {
  margin: 1rem 0;
}

.active-link {
  background-color: var(--button-bg-active);
}

.how-it-works-section {
  margin-top: 0.5rem;
}

@media all and (min-width: 576px) {
}
@media all and (min-width: 768px) {
}
@media all and (min-width: 992px) {
}
@media all and (min-width: 1200px) {
}
@media all and (min-width: 1400px) {
}
