:root {
  --header-bg-colour: #222;
  --main-bg-colour: #333;
  --button-bg-hover: rgb(85, 85, 85);
  --button-bg-hover: tomato;
}

.App {
  height: 100vh;

  .content {
    padding: 1rem;
  }
}

header {
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-colour);
  justify-content: center;
  height: 125px;

  .logo {
    h1 {
      text-align: center;
    }
  }

  nav {
    margin-top: 0.5rem;
    ul {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      li {
        a {
          color: white;
          text-decoration: none;
          border-radius: 7px;
          padding: 0.5rem 0.8rem;
          transition: all 0.3s ease-in-out 0s;
          &:hover {
            background-color: var(--button-bg-hover);
          }
        }
      }
    }
  }
}

@media all and (min-width: 576px) {
}
@media all and (min-width: 768px) {
}
@media all and (min-width: 992px) {
}
@media all and (min-width: 1200px) {
}
@media all and (min-width: 1400px) {
}
